body{
    background-color: #b22222;
}
.SliderSection{
    width: 100vw;
    position: relative;
}
.SliderContainer{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.SliderContainer img{
    width: 100%;
}
